<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/save}" th:object="${coche}" method="POST">
        <input type="text"  th:field="*{marca}" placeholder="marca" autocomplete="off">
        <br>
        <input type="text" th:field="*{model}" placeholder="modelo" autocomplete="off">
        <br>
        <input type="text" th:field="*{precio}" placeholder="precio" autocomplete="off">
        <br>
        <button type="submit">
            Guardar Coche
        </button>
    </form>
</body>
</html>