<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <h1>LISTAS DE COCHES</h1>
    <table>
        <thead>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
        </thead>
        <tbody>
            <tr th:each="c : ${coches}">
                <td th:text="${c.marca}"></td>
                <td th:text="${c.model}"></td>
                <td th:text="${c.precio}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>